[Unit]
Description=Apply ASUS PX13 battery charge limit after boot
Documentation=https://bugs.kde.org/show_bug.cgi?id=450551

[Timer]
OnBootSec=30s
AccuracySec=1s
Unit=px13-battery-charge-limit.service

[Install]
WantedBy=timers.target
